<!DOCTYPE html>
<html>
  <head>
    <title>CodaisseurUp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- Render navbar -->
    <%= render "shared/navbar" %>

    <!-- Notices / alerts -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center center-text">
        <!-- Where the hell do these get there information from? -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>

    <!-- erb yield -->
    <%= yield %>

  </body>
</html>
